@model ImageFormModel

<h1>Edit</h1>


<div class="container">
    <form asp-controller="AdminImage" asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3 d-flex flex-column gap-2">
            <strong>Title:</strong>
            <input asp-for="ImagesClass.Title" class="d-block w-100 form-control" />
            <span asp-validation-for="ImagesClass.Title" class="text-danger"></span>
        </div>
        <div class="mb-3 d-flex flex-column gap-2">
            <strong>Description:</strong>
            @*<input asp-for="ImagesClass.Description" class="d-block w-100 form-control" />*@
            <textarea asp-for="ImagesClass.Description" class="d-block w-100 form-control"></textarea>
            <span asp-validation-for="ImagesClass.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 d-flex flex-column gap-2">
            <strong>URL Immagine:</strong>
            <input asp-for="ImagesClass.Img" class="d-block w-100 form-control" />
        </div>
        <div>
            <strong>Category:</strong>
            @foreach (var category in Model.Categories)
            {
                <div>
                    <input type="checkbox" id="@category.Value" name="SelectedCategories" value="@category.Value" checked="@Model.SelectedCategories.Contains(category.Value)" />
                    <label for="@category.Value">@category.Text</label>
                </div>
            }
        </div>
        <div class="mt-4">
            <!--Private-->
            <input type="checkbox" id="private" name="PrivateText" value="@Model.PrivateText" checked="@Model.ImagesClass.IsPrivate"/>
            <label for="private">Private</label>
        </div>
        @*<div>
        <input asp-for="ImagesClass.Visible == false" type="checkbox" id="@Model.ImagesClass.Id" value="@Model.ImagesClass.Id" />
        <label for="@Model.ImagesClass.Id">Private</label>
        </div>*@
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Post">
        </div>

    </form>
</div>