@model List<ImageClass>
<h1>Managerial Page</h1>

<section class="container border border-2 border-danger py-3 px-0">
    <div class="border border-2 border-primary">
        <div class="btn btn-primary py-2 px-2">
            <a class="text-light text-decoration-none" asp-area="" asp-controller="AdminImage" asp-action="Create">Post Image</a>
        </div>
        <h2>Visualize Images</h2>
        @if(Model.Count > 0)
        {
            <ul>
                @foreach(var y in Model)
                {
                    @if (!y.Visible)
                    {
                        <li class="d-flex gap-3">
                            <div>
                                <!--Image-->
                                <div class="card_image rounded">
                                    <img class="rounded" src="@y.Img" alt="Error: @y.Title">
                                </div>
                            </div>

                            <div class="d-flex flex-column align-items-center justify-content-around gap-3 w-100 border border-1 border-warning">

                                <div class="d-flex flex-column">
                                    <span><span class="fw-bold">Title: </span>@y.Title</span>
                                    <span><span class="fw-bold">Description: </span>@y.Description</span>
                                </div>

                                <div class="d-flex gap-3">
                                    <!--Details-->
                                    <a class="btn btn-dark shadow rounded-pill py-2 px-3" href="@Url.Action("Details", "AdminImage", new {id = y.Id})">
                                        <i class="fa-regular fa-eye"></i>
                                    </a>
                                    @if (User.IsInRole("ADMIN"))
                                    {
                                        <!--Edit-->
                                        <a class="btn btn-dark shadow rounded-pill py-2 px-3" href="@Url.Action("Edit", "AdminImage", new {id = y.Id})">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>

                                        <!--Delete-->
                                        <form asp-controller="AdminImage" asp-action="Delete" asp-route-id="@y.Id" method="post">

                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-danger shadow rounded-pill py-2 px-3">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>

                                        </form>
                                    }
                                </div>

                            </div>
                        </li>
                    }
                }
            </ul>
        }
        else
        {
            <div>No Images in DB</div>   
        }

    </div>
</section>