@model List<ImageClass>
<h1>Managerial Page</h1>

<section class="container border border-2 border-danger py-3 px-0">
    <div class="border border-2 border-primary">
        <div>
            <form class="search-bar" asp-controller="AdminImage" asp-action="Index" method="get">

                <input id="search" type="search" name="search" pattern=".*\S.*" required placeholder="Search Title">
                <button class="search-btn" type="submit">
                    <span>Search</span>
                </button>

            </form>
            @*<form asp-controller="AdminImage" asp-action="Index" method="get">
                <input type="text" id="search" class="form-control" name="search" placeholder="Search Title" />
                <input type="submit" class="btn btn-small btn-info" value="Search">
            </form>*@
        </div>
        <div class="btn btn-primary py-2 px-2">
            <a class="text-light text-decoration-none" asp-area="" asp-controller="AdminImage" asp-action="Create">Post Image</a>
        </div>
        <h2>Visualize Images</h2>
        @if(Model.Count > 0)
        {
            <ul class="d-flex flex-column gap-3">
                @foreach(var y in Model)
                {
                   @* @if (!y.IsPrivate)
                    {
                    }*@
                    <li class="d-flex gap-3">
                        
                        <!--Image-->
                        <div class="card_image rounded border border-1 border-warning">
                            <img class="my_img rounded" src="@y.Img" alt="Error: @y.Title">
                        </div>
                        

                        <div class="d-flex flex-column align-items-center justify-content-around gap-3 w-100 border border-1 border-warning">

                            <div class="d-flex flex-column">
                                <span><span class="fw-bold">Title: </span>@y.Title</span>
                                @if(y.Description != null)
                                {
                                    <span><span class="fw-bold">Description: </span>@y.Description</span>
                                }
                            </div>

                            <div class="d-flex gap-3">
                                <!--Details-->
                                <a class="btn btn-dark shadow rounded-pill py-2 px-3" href="@Url.Action("Details", "AdminImage", new {id = y.Id})">
                                    <i class="fa-regular fa-eye"></i>
                                </a>
                                @if (User.IsInRole("ADMIN"))
                                {
                                    <!--Edit-->
                                    <a class="btn btn-dark shadow rounded-pill py-2 px-3" href="@Url.Action("Edit", "AdminImage", new {id = y.Id})">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>

                                    <!--Delete-->
                                    <form asp-controller="AdminImage" asp-action="Delete" asp-route-id="@y.Id" method="post">

                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-danger shadow rounded-pill py-2 px-3">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>

                                    </form>
                                }
                            </div>

                            @if (!y.IsPrivate)
                            {
                                <div class="badge bg-info">
                                    Public
                                </div>
                            }
                            else
                            {
                                <div class="badge bg-danger">
                                    Private
                                </div>
                            }
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <div>No Images in DB</div>   
        }

    </div>
</section>